.booksTitle {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("https://eyecix.com/html/ereaders/extra-images/subheader-img1.jpg");
  width: 100%;
  height: 33vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  h2 {
    color: rgb(230, 227, 227);
    font-size: 30px;
  }
}

.gray {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  font-family: sans-serif;
  font-size: 17px;
  a {
    color: white;
    span {
      color: #00aff0;
    }
  }
}
.booksSections {
  width: 70%;
  margin: 50px auto;
  font-family: sans-serif;
  .books {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    .header {
      font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      h2 {
        color: black;
        font-weight: 700;
        line-height: 1.5;
        font-size: 27px;
      }
      p {
        font-size: 17px;
        font-weight: 300;
        width: 64%;
        letter-spacing: 0.8px;
        color: gray;
        margin: 14px 0;
        line-height: 24px;
      }
    }
    .select {
      .sortOptions {
        cursor: pointer;
        width: 200px;
        height: 35px;
        background-color: transparent;
        border: 1px solid #00aff0;
        outline: none;
        font-size: 15px;
        color: black;
        padding-left: 10px;
      }
    }
    .cards {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 50px;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      .card {
        width: 270px;
        height: 400px;
        .image {
          width: 270px;
          height: 340px;
          position: relative;
          &:hover {
            .hover {
              opacity: 1;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .hover {
            transition: all 600ms;
            opacity: 0;
            .cart-shopping {
              cursor: pointer;
              position: absolute;
              bottom: 40px;
              left: 20%;
              width: 40px;
              height: 40px;
              background: #00b4d8;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 700ms;
              .fa-cart-shopping {
                color: white;
                transition: all 700ms;
                font-size: 18px;
              }
              &:hover {
                background: white;
                .fa-cart-shopping {
                  color: #00b4d8;
                }
              }
            }
            .heart {
              cursor: pointer;
              position: absolute;
              bottom: 40px;
              left: 45%;
              width: 40px;
              height: 40px;
              background: #00b4d8;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 700ms;
              .fa-heart {
                transition: all 700ms;
                font-size: 18px;
                color: white;
              }
              &:hover {
                background: white;

                .fa-heart {
                  color: #00b4d8;
                }
              }
            }
            .eye {
              cursor: pointer;
              position: absolute;
              bottom: 40px;
              left: 70%;
              width: 40px;
              height: 40px;
              background: #00b4d8;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 700ms;
              .fa-eye {
                transition: all 700ms;
                font-size: 18px;
                color: white;
              }
              &:hover {
                background: white;
                .fa-eye {
                  color: #00b4d8;
                }
              }
            }
          }
        }
        .text {
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            width: 250px;
            font-family: sans-serif;
            font-weight: 500;
            font-size: 18px;
            color: black;
          }
          p {
            color: #00b4d8;
            font-size: 16px;
          }
        }
      }
    }

  }
}