.privacyPolicy {
  width: 90%;
  margin: 50px auto;
  .privacy {
    font-family: sans-serif ;
    h2 {

      font-size: 27px;
      color: #00b4d8;
      margin: 20px 0;
    }
    p {

      font-size: 16px;
      color: black;
      line-height: 30px;
    }
  }
}


