.wishlistPage {
  font-family: sans-serif;
  .wishlist {
    width: 100%;
    max-width: 100%;
    min-height: 60vh;
    font-family: sans-serif;
    .table {
      width: 90%;
      margin: 60px auto;
      display: flex;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      table {
        width: 100%;
        border: 1px solid #00b4d8;
        thead {
          tr {
            th {
              padding: 10px;
              border: 1px solid #00b4d8;
              color: black;
              font-size: 17px;
            }
          }
        }
        tbody {
          tr {
            border: 1px solid #00b4d8;
            td {
              font-size: 17px;
              padding: 10px;
              color: black;
              border: 1px solid #00b4d8;
              text-align: center;
              .fa-sharp {
                color:  #00b4d8;
                font-size: 18px;
                cursor: pointer;
                transition: all 600ms;
                &:hover {
                  color: black;
                }
              }

              img {
                width: 110px;
              }
              .name {
                font-size: 18px;
                font-family: "Cormorant", serif;
                color:  #00b4d8;
                margin-bottom: 10px;
              }
              p {
                color: #0b1315;
              }
              button {
                font-size: 15px;
                border: none;
                background-color:  #00b4d8;
                width: 120px;
                height: 45px;
                cursor: pointer;
                color: #0b1315;
                font-weight: bold;
                transition: all 600ms;
                &:hover {
                  background-color: #dcd7e3;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
  .wishlistPage {
    .wishlist {
      min-height: auto;
      .table {
        table {
          thead {
            tr {
              th {
                display: none;
              }
            }
          }
          tbody {
            tr {
              td {
                display: list-item;
                img {
                  width: 130px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 901px) and (max-width: 1025px) {
  .wishlistPage {
    .wishlist {
      min-height: 30vh;
    }
  }
}
